<?xml version="1.0"?>
<!--
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; version 2 of the License.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GobiLoader; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
-->
<configuration>
  <configSections>
    <section name="gobiLoader" type="GobiLoader.Config.GobiLoaderConfiguration, GobiLoader"/>
  </configSections>

  <gobiLoader>
    <devices>
      <device brand="Lenovo" deviceId="VID_05C6&amp;PID_9201" />
      <device brand="HP" deviceId="VID_03F0&amp;PID_201D" />
      <device brand="Sony" deviceId="VID_05C6&amp;PID_9221" />
    </devices>
  </gobiLoader>
  
  <system.diagnostics>
    <switches>
      <!--
        Tracel Levels
        0 - Disabled
        1 - Gives error messages only
        2 - Gives errors and warnings only
        3 - Gives errors, warnings, and informational
        4 - Gives verbose trace information
        -->
      <add name="TraceLevel" value="3" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear/>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
